[submodule "zenlog/zenlog"]
	path = zenlog/zenlog
	url = https://github.com/omakoto/zenlog
[submodule "third_party/nupm"]
	path = third_party/nupm
	url = https://github.com/nushell/nupm
[submodule "cache/dein/repos/github.com/Shougo/dein.vim"]
	path = cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
