[submodule "zenlog/zenlog"]
	path = zenlog/zenlog
	url = https://github.com/omakoto/zenlog
[submodule "cache/dein/repos/github.com/Shougo/dein.vim"]
	path = cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
